.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #522d80; /* Clemson purple background color */
  color: white;
}

.clemson-paw {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  color: #fff;
  background-color: #f66733; /* Clemson orange color */
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#signup{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f66733; /* Clemson orange color */
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#login{
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #f66733; /* Clemson orange color */
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #451f58; /* Darker purple on hover */
}
