.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #522d80; /* Clemson purple background color */
    color: white;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .signup-button,
  .login-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #f66733; /* Clemson orange color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #522d80; /* Clemson purple background color */
  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: #451f58; /* Darker purple on hover */
  }